<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OCTI Integration</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link href="<%= mainCSS %>" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="<%- mainJS -%>"></script>
  <script>
    App.initialize();
  </script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
</html>
